<div class="banner" style="background-image: url('<%= image_path "bg.png" %>')">
  <h1>Welcome to Mister Cocktails</h1>
</div>

<%#= cl_image_tag("icv1z1gq7ahfjbwkluiy",
      width: 400, height: 300, crop: :fill) %>


<div class="boxes boxes-wrap">
  <% @cocktails.each do |c|%>

    <%= link_to cocktail_path(c) do %>
      <div class="box-card" id="cocktail-<%= c.id%>" style="background-image: url('<%= cl_image_path c.photo.key %>')">
        <%#= link_to link_to image_tag("https://source.unsplash.com/collection/1631542"), cocktail_path(c) %>
       <h2><%= c.name%></h2>
      </div>
    <% end%>  
  <% end%>  
</div>
