
<div class="boxes boxes-solo">
  <h1 class="title"><%= @cocktail.name%></h1>

  <div class="box">
    <img class="img" src="https://source.unsplash.com/collection/1631542">
    <div class="details">
      <h3>Doses:</h3>
          <% @cocktail.doses.each do |d|%>
            <div class="dose">
              <div>
                  <p><span class="strong">Ingredient: </span><%= d.ingredient.name %></p>
                  <p><span class="strong">Dose: </span><%= d.description %></p>
              </div>
              <div>
                <%= link_to '- Delete', cocktail_dose_path(cocktail_id: @cocktail, id: d), method: :delete,  class: 'btn-outline', data: { confirm: 'are yousure?' } %>
              </div>
            </div>
          <%end%> 
      <%= link_to 'Add new dose', new_cocktail_dose_path(@cocktail), class: 'btn-outline' %>
    </div>
  </div>
    
</div>