<div class="boxes boxes-solo">
  <h1><%= @cocktail.name%></h1>

  <%= simple_form_for [@cocktail,@dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>