<!DOCTYPE html>
<html>
  <head>
    <title>MisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu">
      <ul>
        <li><%= link_to 'Mister Cocktail', cocktails_path, class:'menu-item' %></li>
        <li><%= link_to 'Add Cocktail', new_cocktail_path, class:'menu-item' %></li>
      </ul>
    </div>
    <%= yield %>
    <footer>
      <div class="icons">
        <%= link_to 'https://github.com/susannapezzini' , target: 'blank' do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to 'https://www.instagram.com/susanna_pezzini/' , target: 'blank' do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </div>
      <svg height="3" width="100">
        <line x1="0" y1="0" x2="100" y2="0"/>
      </svg>
      <p>Made by <span>Susanna Pezzini</span></p>
    </footer>
  </body>
</html>
